<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogProject.manager.dao.TCommitMapper">
  <resultMap id="BaseResultMap" type="blogProject.manager.bean.TCommit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commit_content" jdbcType="VARCHAR" property="commitContent" />
    <result column="commit_user_id" jdbcType="INTEGER" property="commitUserId" />
    <result column="commit_article_id" jdbcType="INTEGER" property="commitArticleId" />
    <result column="commit_date" jdbcType="VARCHAR" property="commitDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commit_content, commit_user_id, commit_article_id, commit_date
  </sql>
  <select id="selectByExample" parameterType="blogProject.manager.example.TCommitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_commit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_commit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="blogProject.manager.example.TCommitExample">
    delete from t_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="blogProject.manager.bean.TCommit">
    insert into t_commit (id, commit_content, commit_user_id, 
      commit_article_id, commit_date)
    values (#{id,jdbcType=INTEGER}, #{commitContent,jdbcType=VARCHAR}, #{commitUserId,jdbcType=INTEGER}, 
      #{commitArticleId,jdbcType=INTEGER}, #{commitDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="blogProject.manager.bean.TCommit">
    insert into t_commit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commitContent != null">
        commit_content,
      </if>
      <if test="commitUserId != null">
        commit_user_id,
      </if>
      <if test="commitArticleId != null">
        commit_article_id,
      </if>
      <if test="commitDate != null">
        commit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commitContent != null">
        #{commitContent,jdbcType=VARCHAR},
      </if>
      <if test="commitUserId != null">
        #{commitUserId,jdbcType=INTEGER},
      </if>
      <if test="commitArticleId != null">
        #{commitArticleId,jdbcType=INTEGER},
      </if>
      <if test="commitDate != null">
        #{commitDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="blogProject.manager.example.TCommitExample" resultType="java.lang.Long">
    select count(*) from t_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_commit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.commitContent != null">
        commit_content = #{record.commitContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commitUserId != null">
        commit_user_id = #{record.commitUserId,jdbcType=INTEGER},
      </if>
      <if test="record.commitArticleId != null">
        commit_article_id = #{record.commitArticleId,jdbcType=INTEGER},
      </if>
      <if test="record.commitDate != null">
        commit_date = #{record.commitDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_commit
    set id = #{record.id,jdbcType=INTEGER},
      commit_content = #{record.commitContent,jdbcType=VARCHAR},
      commit_user_id = #{record.commitUserId,jdbcType=INTEGER},
      commit_article_id = #{record.commitArticleId,jdbcType=INTEGER},
      commit_date = #{record.commitDate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="blogProject.manager.bean.TCommit">
    update t_commit
    <set>
      <if test="commitContent != null">
        commit_content = #{commitContent,jdbcType=VARCHAR},
      </if>
      <if test="commitUserId != null">
        commit_user_id = #{commitUserId,jdbcType=INTEGER},
      </if>
      <if test="commitArticleId != null">
        commit_article_id = #{commitArticleId,jdbcType=INTEGER},
      </if>
      <if test="commitDate != null">
        commit_date = #{commitDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="blogProject.manager.bean.TCommit">
    update t_commit
    set commit_content = #{commitContent,jdbcType=VARCHAR},
      commit_user_id = #{commitUserId,jdbcType=INTEGER},
      commit_article_id = #{commitArticleId,jdbcType=INTEGER},
      commit_date = #{commitDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>